.bottle-card {
    border: 2px solid rgba(0, 255, 255, 0.808);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.img-size img {
    width: 250px;
    width: 100%;
    border-radius: 10px;
}

h3{
    color: rgba(0, 255, 255, 0.623);
}
.btn{
    padding: 10px ;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: rgba(0, 255, 255, 0.486);
}